*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}

main{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    max-width: 18rem;
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
}

.intro{
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: 12px;
    margin: 20px 20px 15px 20px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

h1{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 26px;
    margin: 0 20px 15px 20px;
    line-height: 98%;
}

p{
    margin: 0 20px 5px 20px;
    font-size: 12px;
    line-height: 150%;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

.prix{
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prix h2{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces',serif;
    font-size: 26px;
    font-weight: 800;
}

.reduction{
    margin: 15px;
    text-decoration: line-through;
}

.bouton{
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 20px 20px 20px;
    padding: 10px 0 10px 0;
}

.bouton:hover{
    background-color: hsl(158, 36%, 60%);
}

.bouton h3{
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px ;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width:23rem) {
    main{
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        max-width: 30rem;
    }
    #first{
        align-self: center;
        flex-basis: 50%;
        height: 100%;
    }
    #second{
        flex-basis: 50%;

    }
    img{
        height: 100%;
        border-radius: 10px 0 0 10px;
    }
    picture{
        display: flex;
    }
    .bouton{
        margin-top: 20px;
    }
    .prix{
        margin-top: 15px;
    }
}